@import "tailwindcss";

@custom-variant dark (&:where(.dark,.dark *));

@theme {
  --color-foreground-light: #191919;
  --color-background-light: #dbdbdb;
  --color-foreground-dark: #dbdbdb;
  --color-background-dark: #191919;
  --color-accent: #81a1c1;
}
